/* Font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

@import 'reset.css';
@import 'variables.css';

/* Components*/
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';

/* Screens */
@import 'screens/login.css';
@import 'screens/friends.css';

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        sans-serif;
    color: var(--text1);
}

.main-screen {
    padding: 0 var(--horizontal-space);
}
