:root {
    --main-color: #de8c1e;
    --default-border: 1px solid var(--main-color);
}

body {
    margin: 20px;
    height: 100vh;
}

p {
    color: var(--main-color);
}

a {
    color: var(--main-color);
    border: var(--default-border);
}
