.chat-screen {
    background-color: #abc1d1;
}

.chat-screen .status-bar {
    background-color: #abc1d1;
    z-index: 2;
}

.chat-screen .alt-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #abc1d1;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin: 110rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s linear;
}

.chat__timestamp {
    color: #fff;
    background-color: #95a4b2;
    padding: 10rem 18rem;
    border-radius: 18rem;
    font-size: 14rem;
    margin: 0 0 25rem;
}

.message-row {
    width: 100%;
    display: flex;
    margin: 0 0 25rem;
}

.message-row img {
    width: 34rem;
    height: 34rem;
    border-radius: 40%;
}

.message-row__content {
    margin: 0 0 0 15rem;
}

.message_author {
    margin: 0 0 6rem;
    display: block;
}

.message__messages {
    display: flex;
    align-items: flex-end;
}

.message__text {
    background-color: #fff;
    padding: 10rem 13rem;
    border-radius: 15rem;
    border-top-left-radius: 0;
    font-size: 16rem;
    margin: 0 8rem 0 0;
}

.message_author,
.message__time {
    opacity: 0.7;
    font-size: 13rem;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message__text {
    background-color: var(--yellow);
    border-top-right-radius: 0;
    border-top-left-radius: 15rem;
    margin: 0 0 0 8rem;
}

.message-row--own .message__messages {
    flex-direction: row-reverse;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 12rem;
    transition: all 0.3s ease-in-out;
}

.reply:focus-within .reply__input {
    width: 95vw;
    transform: translateX(-8.5%);
}

.reply:focus-within .reply__column--plus,
.reply:focus-within button,
.reply:focus-within svg {
    opacity: 0;
}

.reply .reply__column--plus {
    width: 8%;
}

.reply .reply__column--plus,
.reply button,
.reply svg {
    transition: opacity 0.2s ease-in-out;
}

.reply__column--write {
    width: 92%;
    position: relative;
}

.reply__input {
    width: 100%;
    border: 1rem solid #ddd;
    border-radius: 20rem;
    height: 40rem;
    padding: 0 16rem;
    transition: all 0.3s ease-in-out;
}

.reply__column--write > svg,
.reply button {
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.reply__column--write > svg {
    right: 45rem;
    top: 8rem;
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 32rem;
    height: 32rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
