.recommended-friends {
    padding: 25rem 0;
    margin: 25rem 0;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}

.recommended-friends__title {
    font-size: 14rem;
    color: var(--text2);
}

.recommended-friends span {
    display: block;
    margin: 110rem 0;
    text-align: center;
    font-size: 15rem;
    color: var(--text2);
    font-weight: 300;
}

.open-chat {
    padding: 0 0 100rem;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text2);
    margin-bottom: 25rem;
    font-size: 14rem;
}

.open-chat__header span {
    opacity: 0.5;
}

.open-chat__header svg {
    vertical-align: middle;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title {
    font-weight: 600;
    margin-bottom: 8rem;
    font-size: 16rem;
}

.open-post__hashtags {
    text-transform: uppercase;
    font-size: 14rem;
    color: #999;
}

.open-post__members {
    display: flex;
    align-items: center;
    margin: 8rem 0 0;
    font-size: 14rem;
    color: var(--text2);
}

.open-post__members img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: 0 8rem 0 0;
}

.open-post__members span:not(:nth-child(2)):before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 10rem;
    background-color: var(--text2);
    margin: 0 5rem;
    opacity: 0.3;
}

.open-post__member-status {
    color: #ffb0e0;
    opacity: inherit;
}

.open-post__photo {
    position: relative;
}

.open-post__photo--avatar {
    width: 80rem;
    height: 80rem;
    border-radius: 16rem;
}

.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 46rem;
    height: 20rem;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8rem;
    right: 8rem;
    font-size: 13rem;
}

.open-post__heart-count svg {
    fill: #fff;
    transition: fill 0.2s ease-in-out;
}

.open-post__photo:hover svg {
    fill: tomato;
}

.open-post__heart-count span {
    margin: 0 0 0 2rem;
    font-size: 12rem;
}
