.friends__screen {
    padding: 0 var(--horizontal-space);
}

#friends-display-link {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    padding: 16px 0;
    font-size: 18px;
    margin: 0 0 10px;
}

#friends-display-link svg {
    vertical-align: middle;
}

.friends-screen__channel {
    margin: 25px 0 0;
    border-top: 1px solid #eee;
    padding: 20px 0 0;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
    color: #888;
}
