#friends-display-link {
    display: block;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    padding: 16px 0;
    font-size: 18px;
    margin: -15px 0 10px;
}

#friends-display-link svg {
    vertical-align: middle;
}

.friends-screen__channel {
    margin: 25px 0 0;
    border-top: var(--main-border);
    padding: 20px 0 0;
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
    color: var(--text2);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    animation-delay: 1s;
}
