.more-screen .icon-row {
    margin: 35rem 0 0;
}

.more-suggestions {
    margin: 30rem 0 0;
    border-top: var(--main-border);
    padding: 20rem 0 100rem;
}

.more-suggestions__title {
    margin: 0 0 30rem;
    font-size: 14rem;
}

.more-suggestions__icons {
    display: flex;
}
.more-suggestions__icon {
    width: 25%;
}

.more-suggestions__icon-img {
    width: 40rem;
    height: 40rem;
    border-radius: 6rem;
    margin: 0 auto;
}

.more-suggestions__icon-img img {
    width: 100%;
}

.more-suggestions__icon-text {
    display: block;
    padding: 12rem 0 0;
    text-align: center;
    color: var(--text2);
    font-size: 13rem;
}
