.alt-header {
    padding: 51px var(--horizontal-space) var(--horizontal-space);
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alt-header__title {
    font-size: 32px;
    font-weight: bold;
}
