.alt-header {
    padding: 51rem var(--horizontal-space) var(--horizontal-space);
    margin: 0 0 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alt-header__column {
    width: calc(100% / 3);
}

.alt-header__column:nth-child(2) {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.alt-header__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.alt-header__column span:last-child {
    margin-left: 16rem;
}

.alt-header__title {
    font-size: 20rem;
    font-weight: bold;
}
