.badge {
    display: flex;
    justify-content: center;
    width: 18rem;
    height: 18rem;
    border-radius: 10rem;
    align-items: center;
    background-color: #ff6229;
    color: #fff;
    font-weight: 500;
    font-size: 12rem;
}

.dot {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: #ff6229;
    position: absolute;
}
