.icon-row {
    display: flex;
    flex-wrap: wrap;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 25%;
    position: relative;
}
.icon-row__icon-wrap {
    position: relative;
}

.icon-row__icon span {
    margin: 20px 0 0;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    font-weight: 300;
}

.icon-row__alert {
    top: -24px;
    right: -8px;
}
