.nav {
    width: 100%;
    height: 52rem;
    background-color: #f9f9fa;
    border-top: 1rem solid #ededed;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.nav__ul {
    display: flex;
    justify-content: space-between;
}

.nav__li {
    width: 100%;
}

.nav__a {
    display: block;
    color: #2e363e;
    text-align: center;
    padding: 12rem 0;
}

.nav__icon {
    display: inline-block;
    width: 32rem;
    height: 32rem;
    position: relative;
}

@keyframes notificationAnimation {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-3rem);
    }
    100% {
        transform: none;
    }
}

.nav__notification {
    position: absolute;
    top: -5rem;
    right: -3rem;
    animation: notificationAnimation 2s ease-in-out infinite;
}

.nav__alert {
    top: 0rem;
    right: -4rem;
}

//@keyframes navBtnAni {
//    from {
//        opacity: 0;
//    }
//    to {
//        opacity: 1;
//        transform: none;
//    }
//}
//
//.nav__li {
//    opacity: 0;
//    transform: translateY(50px);
//    animation: navBtnAni 0.5s ease-in-out forwards;
//}
//
//.nav__li:nth-child(2) {
//    animation-delay: 0.2s;
//}
//.nav__li:nth-child(3) {
//    animation-delay: 0.4s;
//}
//.nav__li:nth-child(4) {
//    animation-delay: 0.6s;
//}
