.status-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    font-size: 13rem;
}

.status-bar__column {
    width: calc(100% / 3);
    font-weight: 500;
}

.status-bar__column svg {
    vertical-align: top;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:last-child svg {
    margin-left: 4rem;
}
