.user-component {
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__column:last-child {
    color: var(--text2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column svg {
    vertical-align: middle;
}

.user-component__avatar {
    width: 50rem;
    height: 50rem;
    border-radius: 40%;
    margin: 0 10rem 0 0;
}

.user-component__avatar--xl {
    width: 58rem;
    height: 58rem;
}

.user-component__avatar--sm {
    width: 42rem;
    height: 42rem;
}

.user-component__title {
    font-weight: 600;
    font-size: 18rem;
}

.user-component__title--not-bold {
    font-weight: 400;
    font-size: 16rem;
}

.user-component__subtitle {
    margin: 10rem 0 0;
    opacity: 0.5;
    font-size: 14rem;
}

.user-component__time {
    margin: 0 0 8rem;
    display: block;
    font-size: 12rem;
    color: #aaa;
}

.user-component__column--count {
    font-size: 14rem;
}
